<?xml version="1.0" encoding="utf-8"?>
<?ifndef WebRoot ?><?define WebRoot = "D:\Dev\Rust\teshi\staging\msi-root\share\web"?><?endif ?>
<?ifndef BridgeRoot ?><?define BridgeRoot = "D:\Dev\Rust\teshi\staging\msi-root\share\teshi-bridge"?><?endif ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="ShareTeshiBridgeDir">
            <Component Id="cmp3593E2D7F047771A40EFAAC74E327F6F" Guid="{C05D6950-E7BB-418D-BAD0-2115A5F93ACD}">
                <File Id="fil9E7BD6F590F66D2A71A1999EE0714569" KeyPath="yes" Source="$(var.BridgeRoot)\background.js" />
            </Component>
            <Component Id="cmp6A031D0BAB548C7725C3BA00E9E25CEE" Guid="{3BEF2222-2110-4A2F-9424-F58093A87DEE}">
                <File Id="fil15F91A0A344109B88407E4F08A8D8C42" KeyPath="yes" Source="$(var.BridgeRoot)\manifest.json" />
            </Component>
            <Component Id="cmp0BBE19797BDEEFED19650B0AB38B35B4" Guid="{7511EC42-15CD-4C5E-9A75-AB2DE3B43FA8}">
                <File Id="filB88904E6F4D12AEA6CA4DB9FFF2E322C" KeyPath="yes" Source="$(var.BridgeRoot)\popup.html" />
            </Component>
            <Component Id="cmpF50C810D8BEAD7EA35D45F849431B28C" Guid="{BC4C2816-2F90-412F-BF2C-4B634581788D}">
                <File Id="filC4293B2FEE5D3736D067599800EF2F09" KeyPath="yes" Source="$(var.BridgeRoot)\popup.js" />
            </Component>
            <Component Id="cmp3D78DA5B9A92D94F2AB9897A6412C302" Guid="{3F5D31B8-925D-4618-9EC2-4312EA544510}">
                <File Id="filE132A7ABEA872C6F280D946F372421DB" KeyPath="yes" Source="$(var.BridgeRoot)\README.md" />
            </Component>
            <Directory Id="dirD9F1F601017C3EF5034293140840E9CA" Name="icons">
                <Component Id="cmp2330E3CCE60084AA568F882CBE3405F7" Guid="{94B7E31F-7526-4640-8B71-D7A88A25DD38}">
                    <File Id="filF0172CAFEF030F9D60921C7223DED3AD" KeyPath="yes" Source="$(var.BridgeRoot)\icons\icon128.png" />
                </Component>
                <Component Id="cmp1DA37FE0AB848B6646ECF9B1AF22E078" Guid="{472DFB8E-30FC-45E0-90DD-5AFF27EDF837}">
                    <File Id="fil6A296B309DBA96BC049EF612186A3BF6" KeyPath="yes" Source="$(var.BridgeRoot)\icons\icon16.png" />
                </Component>
                <Component Id="cmpDBE0A95224E55E43C4E55E8115DE24EE" Guid="{78A1D6A8-CCC9-456A-8547-E8BE601F0317}">
                    <File Id="filEE232A17EC57CCBB0ABA2A91EA9AA11B" KeyPath="yes" Source="$(var.BridgeRoot)\icons\icon32.png" />
                </Component>
                <Component Id="cmp3A3305E0020451DDC19F637D75690AEE" Guid="{3EEB4DEC-F316-47FB-B252-A11D8AF5925B}">
                    <File Id="filB5E13B19A99F2A6E6609590D0537DA2A" KeyPath="yes" Source="$(var.BridgeRoot)\icons\icon48.png" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="BridgeFiles">
            <ComponentRef Id="cmp3593E2D7F047771A40EFAAC74E327F6F" />
            <ComponentRef Id="cmp6A031D0BAB548C7725C3BA00E9E25CEE" />
            <ComponentRef Id="cmp0BBE19797BDEEFED19650B0AB38B35B4" />
            <ComponentRef Id="cmpF50C810D8BEAD7EA35D45F849431B28C" />
            <ComponentRef Id="cmp3D78DA5B9A92D94F2AB9897A6412C302" />
            <ComponentRef Id="cmp2330E3CCE60084AA568F882CBE3405F7" />
            <ComponentRef Id="cmp1DA37FE0AB848B6646ECF9B1AF22E078" />
            <ComponentRef Id="cmpDBE0A95224E55E43C4E55E8115DE24EE" />
            <ComponentRef Id="cmp3A3305E0020451DDC19F637D75690AEE" />
        </ComponentGroup>
    </Fragment>
</Wix>