<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="ShareTeshiBridgeDir">
            <Component Id="cmp3593E2D7F047771A40EFAAC74E327F6F" Guid="{ED0021C2-9891-4638-99F5-53008B3F3637}">
                <File Id="fil9E7BD6F590F66D2A71A1999EE0714569" KeyPath="yes" Source="$(var.BridgeRoot)\background.js" />
            </Component>
            <Component Id="cmp6A031D0BAB548C7725C3BA00E9E25CEE" Guid="{9DCBF8D2-59F2-43D1-9AD3-2562AB0290F7}">
                <File Id="fil15F91A0A344109B88407E4F08A8D8C42" KeyPath="yes" Source="$(var.BridgeRoot)\manifest.json" />
            </Component>
            <Component Id="cmp0BBE19797BDEEFED19650B0AB38B35B4" Guid="{CEC8C8CE-C72E-4501-814A-697CC9554242}">
                <File Id="filB88904E6F4D12AEA6CA4DB9FFF2E322C" KeyPath="yes" Source="$(var.BridgeRoot)\popup.html" />
            </Component>
            <Component Id="cmpF50C810D8BEAD7EA35D45F849431B28C" Guid="{309DA53A-1D90-4B42-8AAF-271FF4C068E6}">
                <File Id="filC4293B2FEE5D3736D067599800EF2F09" KeyPath="yes" Source="$(var.BridgeRoot)\popup.js" />
            </Component>
            <Component Id="cmp3D78DA5B9A92D94F2AB9897A6412C302" Guid="{3FC87020-E175-492B-B137-0A1F1545B839}">
                <File Id="filE132A7ABEA872C6F280D946F372421DB" KeyPath="yes" Source="$(var.BridgeRoot)\README.md" />
            </Component>
            <Directory Id="dirD9F1F601017C3EF5034293140840E9CA" Name="icons">
                <Component Id="cmp2330E3CCE60084AA568F882CBE3405F7" Guid="{C1244CCE-6DB2-4F29-9A95-B1AB426F4D88}">
                    <File Id="filF0172CAFEF030F9D60921C7223DED3AD" KeyPath="yes" Source="$(var.BridgeRoot)\icons\icon128.png" />
                </Component>
                <Component Id="cmp1DA37FE0AB848B6646ECF9B1AF22E078" Guid="{37EF3193-E92E-4450-AE0A-F4756D231E78}">
                    <File Id="fil6A296B309DBA96BC049EF612186A3BF6" KeyPath="yes" Source="$(var.BridgeRoot)\icons\icon16.png" />
                </Component>
                <Component Id="cmpDBE0A95224E55E43C4E55E8115DE24EE" Guid="{C8F06B8F-A0B2-4E6D-B582-D4F74CE33128}">
                    <File Id="filEE232A17EC57CCBB0ABA2A91EA9AA11B" KeyPath="yes" Source="$(var.BridgeRoot)\icons\icon32.png" />
                </Component>
                <Component Id="cmp3A3305E0020451DDC19F637D75690AEE" Guid="{647769DF-55D9-47D1-8FD5-3968A407C87E}">
                    <File Id="filB5E13B19A99F2A6E6609590D0537DA2A" KeyPath="yes" Source="$(var.BridgeRoot)\icons\icon48.png" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="BridgeFiles">
            <ComponentRef Id="cmp3593E2D7F047771A40EFAAC74E327F6F" />
            <ComponentRef Id="cmp6A031D0BAB548C7725C3BA00E9E25CEE" />
            <ComponentRef Id="cmp0BBE19797BDEEFED19650B0AB38B35B4" />
            <ComponentRef Id="cmpF50C810D8BEAD7EA35D45F849431B28C" />
            <ComponentRef Id="cmp3D78DA5B9A92D94F2AB9897A6412C302" />
            <ComponentRef Id="cmp2330E3CCE60084AA568F882CBE3405F7" />
            <ComponentRef Id="cmp1DA37FE0AB848B6646ECF9B1AF22E078" />
            <ComponentRef Id="cmpDBE0A95224E55E43C4E55E8115DE24EE" />
            <ComponentRef Id="cmp3A3305E0020451DDC19F637D75690AEE" />
        </ComponentGroup>
    </Fragment>
</Wix>